/* alertCard.css */
.alert-card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
/* 
.alert-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
} */

/* Header containing title and close icon */
.alert-card-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 8px;
}

.alert-card-time {
  font-size: 0.9rem;
  color: #666;
  margin-left: auto; /* Pushes the time to the left if you prefer that look */
}

.alert-card-close {
  cursor: pointer;
  font-size: 1.2rem;
  color: #999;
  margin-left: 8px;
}

.alert-card-info {
  margin-bottom: 8px;
}

.alert-card-title {
  font-size: 1rem;
  margin: 0;
}

.alert-card-details p {
  margin: 4px 0;
}

.alert-card-message strong,
.alert-card-location strong {
  margin-right: 4px;
}


.alert-card.unread {
  border-left: 4px solid red; /* Highlight unread alerts */
  background-color: #fff
}
.alert-card.read {
  border-left: 4px solid #ccc;
  background-color: #f2f2f2;;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .alert-card {
    padding: 15px;
  }
  .card-title,
  .close-btn {
    font-size: 1.2rem;
  }
  .card-body {
    font-size: 0.95rem;
  }
}
